.checked {
    color: orange;
  }

/***FOOTER***/
            
 .footer{ 
    max-width: 100%;
    font-weight: bolder;
    color: white;
    padding: 20px;
    background: #136CB3;
    position: absolute;  
}
            
.copy{
    align-content: center;
}
            
.logo_footer{
    position:absolute; 
    top: 20px;; 
    right:20px;
}
            




@media screen and (max-width: 600px){

    #pesquisa_rapida{
        display: none;
    }

    .header{
        display: none;
    }
}





